<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzfPG8TOgJetI5EGkThaUNahKtwAqwgXc</string>
	<key>GCM_SENDER_ID</key>
	<string>105584966301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.banksystem</string>
	<key>PROJECT_ID</key>
	<string>bank-system-4p5w12</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-system-4p5w12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105584966301:ios:88d60601b0392e7a5d7274</string>
</dict>
</plist>