name: Flutter Code Analysis
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Set up Flutter environment
      uses: flutter/flutter-action@v1
      with:
        flutter-version: '3.10.0'  # Specify a concrete version
    - name: Cache Flutter Packages
      uses: actions/cache@v2
      with:
        path: ~/.pub-cache
        key: ${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.yaml') }}
        restore-keys: |
          ${{ runner.os }}-flutter-
    - name: Install dependencies
      run: flutter pub get
    - name: Run Flutter Analyzer
      run: flutter analyze
